*.bak
*.dll
*.dylib
*.mod
*.mp4
*.npz
*.o
*.pdf
*.pyc
*.so
*.stats
*.tar
*.zip
Thumbs.db
.DS_Store

documentation/developer/build/*
documentation/qaqc/build/*
documentation/user/build/*
documentation/website/build/*
output/*
setup/*.log
setup/test_output/*
test/test_output/*
